.sidebar {
  width: 300px;
  background-color: #1e85f1;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.sidebar {
  padding-left: 26px;
}

.sidebar .menu-item {
  font-weight: bold;
  font-size: 24px;
  width: 100%;
  text-align: center;
  padding: 13px 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 29px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.sidebar .icon {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 30%;
}

.sidebar span {
  display: flex;
  justify-content: start;
  width: 70%;
}

.tab-active {
  color: #1e85f1;
  background-color: #fff;
}

.tab-inactive {
  color: #fff;
}

.container .content {
  flex-grow: 1;
  height: 100vh;
}
